name: Java CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set up JFrog CLI
      uses: jvalkeal/spring-build-action@master
      with:
        jfrog-cli-version: 1.32.4
    - name: Build with Maven
      run: jfrog rt mvn -B clean package
