name: Switch Train to Next Dev Version

on:
  workflow_dispatch:
  repository_dispatch:
    types: [build-zoo-handler-control-next-dev-version]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Handle Zoo Control
      uses: jvalkeal/build-zoo-handler@v0.0.1
      with:
        dispatch-handler-token: ${{ secrets.REPO_ACCESS_TOKEN }}
        dispatch-handler-config: >
          [
            {
              "if": "initial == true",
              "owner": "jvalkeal",
              "repo": "atest4",
              "event_type": "build-zoo-handler-next-dev-version"
            },
            {
              "if": "data.event == 'next-dev-version-succeed' && data.repo == 'atest4' && data.owner == 'jvalkeal'",
              "owner": "jvalkeal",
              "repo": "atest3",
              "event_type": "build-zoo-handler-next-dev-version"
            },
            {
              "if": "data.event == 'next-dev-version-succeed' && data.repo == 'atest3' && data.owner == 'jvalkeal'",
              "owner": "jvalkeal",
              "repo": "atest2",
              "event_type": "build-zoo-handler-next-dev-version"
            },
            {
              "if": "data.event == 'next-dev-version-succeed' && data.repo == 'atest2' && data.owner == 'jvalkeal'",
              "owner": "jvalkeal",
              "repo": "atest1",
              "event_type": "build-zoo-handler-next-dev-version"
            }
          ]
